@font-face {
    font-family: Dosis;
    font-weight: 300;
    src: url(/hotelMarkupAssets/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: SourceSans3;
    src: url(/hotelMarkupAssets/SourceSans3-VariableFont_wght.ttf);
}

/* Navbar Start */
.NavBG{
height: 120px;
background: #000324 0% 0% no-repeat padding-box;
opacity: 1;
}


.fill{
    object-fit: cover;
    object-position: center;
}

.LogoSize{
    margin-top: 15px;
width: 143px;
height: 100px;
/* UI Properties */
background: transparent url('img/Logo.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Navbartext{
    text-align: left;
font: normal normal normal 20px/26px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Navbartext:hover{
    border: 2px solid white;
    color: white;
    border-radius: 1px;
    
}

.Logomove{
    display: flex;
    justify-content: center;
}
/* Navbar End */


/* Section1 start */
.Header{
    background-image: url(/hotelMarkupAssets/header.jpg);
height: 700px;
background-repeat: no-repeat;
background-size: cover;
padding: 0;
/* UI Properties */
opacity: 1;
}
.alignCenter{
    display: flex;
    align-items: center;
}
.OpaicBox{
    margin-top: 225px;
width: 945px;
height: 232px;
/* UI Properties */
background: #000324 0% 0% no-repeat padding-box;
opacity: 80%;
}


.h1OpaicBox{
    margin-top: 75px;
    font-family: dosis;
text-align: center;
font: normal normal normal 45px/57px;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
.pOpaicBox{
    font-family: SourceSans3;
/* UI Properties */
text-align: center;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
/* Section1 End */


/* Section2 Start */
.Card1{
width: 369px;
height: 416px;
margin-top: 50px;
/* UI Properties */
opacity: 1;
}
.Bgwhite{
    background: white 0% 0% no-repeat padding-box;
    height: 600px;
}

.WelcomeBg{
    background: white;
    margin-top: 50px;
    width: 900px;
    height: 416px;
    background-size: cover;
}

.awardfinest{
width: 200px;
height: 153px;
/* UI Properties */
background: transparent url('img/awardfinest.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.awardsatisfaction{
width: 200px;
height: 193px;
background: transparent url('img/awardsatisfaction.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.awardgenuine{
width: 200px;
height: 175px;
/* UI Properties */
background: transparent url('img/awardgenuine.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Nestled{
width: 753px;
height: 155px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;

}

.welcome{
width: 434px;
height: 44px;
text-align: left;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}
/* Section2 End */


/* Section3 Start */
.bg2{
    background-image: url(/hotelMarkupAssets/bg2.jpg);
height: 738px;
opacity: 1;
}

.rooms{
height: 44px;
margin: 25px;
text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color:white;
opacity: 1;
}

.Space-Evenly{
    display: flex;
    justify-content: space-evenly;
    border-radius: 0%;
}
    .CardSize{
width: 369px;
height: 570px;
border-radius: 0%;
border-color: transparent;
}
.CardBorder{
    border-radius: 0;
}
.CardBtn{
    width: 150px;
height: 40px;
background: #004CC7 0% 0% no-repeat padding-box;
border-radius: 0%;
opacity: 1;
text-align: center;
font: normal normal bold 20px/25px SourceSans3;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.CardHeader{
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.CardTextBold{
    text-align: left;
font: normal normal bold 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.CardText{
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Section3 End */


/* Section4 Start */
.Section4bg{
margin-top: 75px;
    height: 925px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.Package{
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    margin-top: 50px;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageImgSize{
    padding: 0%;
    width: 500px;
    height: 244px;
}
.Packagewhitebg{
    padding: 0%;
    background-color: white;
    width: 510px;
height: 244px;
}

.PackageH1{
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.Price{
    margin-left: 10px;
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}

.Info{
    margin-left: 10px;
    text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageH12{
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.Price2{
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}

.Info2{
   
    text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}


.MoveCenter{
    display: flex;
    justify-content: center;
}
/* Section4 End */

/* Section5 Start */
.Section5bg{
    background-image: url(/hotelMarkupAssets/bg.jpg);
    height: 548px;
    background-repeat: no-repeat;
}
.pExplore{
    text-align: center;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.Hour24{
    width: 145px;
height: 101px;
background: transparent url('img/24hour.png') 0% 0% no-repeat padding-box;
opacity: 1
}

.Breakfast{
    width: 145px;
height: 104px;
background: transparent url('img/breakfast.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Valet{
    width: 95px;
height: 115px;
background: transparent url('img/valet.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Pool{
    width: 150px;
height: 110px;
background: transparent url('img/pool.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.AmenitiesText{
    display: flex;
    align-items: flex-end;
    text-align: center;
font: normal normal bold 20px/25px SourceSans3;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/* Section 5 End */

/* Section 6 Start */

.whitebg{
    margin-top: 90px;
    height: 700px;
    background: white 0% 0% no-repeat padding-box;
    opacity: 1;
}   

.Reserveimg{
    background-image: url(/hotelMarkupAssets/hamsterreserve.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1137px;
height: 600px;
}
.Reservebox{    
    width: 1137px;
    height: 207px;
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Centerwhite{
    text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.Reservetext{
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0;
    padding: 0;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
.Reservetbox{
    
height: 38px;
background: #EBEDFC 0% 0% no-repeat padding-box;
border: 1px solid #7A90D9;
opacity: 1;
}
.bluebox{
    display: flex;
    justify-content: center;
    width: 177px;
height: 38px;
background: #006EDB 0% 0% no-repeat padding-box;
border: 1px solid #000DC7;
opacity: 1;
}
.blueboxtext{
 margin-top: 5px;
text-align: center;
font: normal normal bold 20px/25px SourceSans3;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

/* Section6 End */

/* Section7 Start */

.bg7{
    height: 300px;
background: #000324 0% 0% no-repeat padding-box;
opacity: 1;
}

.Address{
margin-top: 20px;
text-align: center;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}

.Copyright{
text-align: center;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
/* Section7 End */


/* Tablet Responsiveness */
@media (max-width: 768px) {
    .OpaicBox {
        width:768px;        
        margin-top: 125px;    
        padding: 0;   
    }

    .Header{
        height: 500px;
    }

    .Card1{
        width: 30%;
        height: 350px;
        margin-top: 10px;
    }
    .WelcomeBg{
        width: 600px;
        margin-top: 10px;
    }
    .welcome{
        margin-left: 75px;
        display: flex;
        justify-content: center;
    }

    .Nestled{
        width: 600px;
    }

    .Bgwhite{
        height: 800px;
    }

    .PackageImgSize{
        width: 250px;
    }

    .Packagewhitebg{
        width: 400px;
    }

    .Reserveimg{
        width: 768px;
    }

    .Reservebox{
        width: 768px;
        height: fit-content;
    }
}