@font-face {
    font-family: Dosis;
    font-weight: 300;
    src: url(/hotelMarkupAssets/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: SourceSans3;
    src: url(/hotelMarkupAssets/SourceSans3-VariableFont_wght.ttf);
}

/* Navbar Start */
.NavBG{
height: 120px;
background: #000324 0% 0% no-repeat padding-box;
opacity: 1;
}

.fill{
    object-fit: cover;
    object-position: center;
}

.Logo{
    
    position: absolute;
    top: 9px;
left: 710px;
width: 143px;
height: 100px;
/* UI Properties */
background: transparent url('img/Logo.png') 0% 0% no-repeat padding-box;
opacity: 1;

}
/* Navbar End */


/* Section1 start */
.Header{
    width: 1500px;
height: 500px;
padding: 0;
/* UI Properties */
opacity: 1;
}

.OpaicBox{
    position: absolute;
    top: 253px;
left: 300px;
width: 945px;
height: 232px;
/* UI Properties */
background: #000324 0% 0% no-repeat padding-box;
opacity: 80%;
}

.h1OpaicBox{
    font-family: dosis;
    position: absolute;
    top: 312px;
left: 550px;
width: 456px;
height: 57px;
text-align: center;
font: normal normal normal 45px/57px;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
.pOpaicBox{
    font-family: SourceSans3;
    position: absolute;
    top: 383px;
left: 535px;
width: 480px;
height: 20px;
/* UI Properties */
text-align: center;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
/* Section1 End */


/* Section2 Start */
.Card1{
   
    top: 728px;
left: 393px;
width: 369px;
height: 416px;
/* UI Properties */
opacity: 1;
}

.awardfinest{
 
    top: 962px;
left: 776px;
width: 200px;
height: 153px;
/* UI Properties */
background: transparent url('img/awardfinest.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.awardsatisfaction{
  
    top: 931px;
left: 1052px;
width: 200px;
height: 193px;
background: transparent url('img/awardsatisfaction.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.awardgenuine{
 
    top: 949px;
left: 1355px;
width: 200px;
height: 175px;
/* UI Properties */
background: transparent url('img/awardgenuine.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Nestled{
width: 753px;
height: 155px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;

}

.welcome{
width: 434px;
height: 44px;
text-align: left;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}
/* Section2 End */


/* Section3 Start */
.bg2{
    background-image: url(/hotelMarkupAssets/bg2.jpg);
height: 738px;
opacity: 1;
}

.rooms{
display: flex;
justify-content: center;
height: 44px;
margin: 25px;
text-align: center;
font: normal normal normal 35px/44px Dosis;
letter-spacing: 0px;
color:white;
opacity: 1;
}

.Cards{
    display: flex;
    justify-content: space-evenly;
    border-radius: 0%;
}
    .CardSize{
width: 369px;
height: 570px;
border-radius: 0%;
border-color: transparent;
}
.CardBorder{
    border-radius: 0;
}
.CardBtn{
    width: 150px;
height: 40px;
background: #004CC7 0% 0% no-repeat padding-box;
border-radius: 0%;
opacity: 1;
text-align: center;
font: normal normal bold 20px/25px SourceSans3;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.CardHeader{
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.CardTextBold{
    text-align: left;
font: normal normal bold 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.CardText{
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Section3 End */


/* Section4 Start */
.Section4bg{
margin-top: 75px;
    height: 925px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.Package{
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    margin-top: 50px;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageImgSize{
    padding: 0%;
    width: 500px;
    height: 244px;
}
.Packagewhitebg{
    padding: 0%;
    background-color: white;
    width: 510px;
height: 244px;
}

.PackageH1{
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.Price{
    margin-left: 10px;
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}

.Info{
    margin-left: 10px;
    text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.PackageH12{
    text-align: left;
font: normal normal normal 25px/32px Dosis;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}

.Price2{
    text-align: left;
font: normal normal normal 16px/20px SourceSans3;
letter-spacing: 0px;
color: #1F51A8;
opacity: 1;
}

.Info2{
   
    text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
opacity: 1;
}


.MoveCenter{
    display: flex;
    justify-content: center;
}
/* Section4 End */

/* Section5 Start */
.Section5bg{
    background-image: url(/hotelMarkupAssets/bg.jpg);
    height: 700px;
}